@import "../../vars.css";

.mainEx {
  display: flex;
  justify-content: center;
  font-family: var(--font-robot);
  font-style: normal;
  line-height: normal;
  padding: 40px;
  flex-direction: column;
}

.ExHead {
  font-size: 35px;
  letter-spacing: 1.75px;
  font-weight: 700;
  text-transform: uppercase;
}

.ExDiv {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 15px;
}
.leftEx {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 10px), 1fr));
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 562px;
  height: 562px;
}
