.mainA {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: Outfit;
  line-height: normal;
  font-style: normal;
  padding: 40px;
}

.aboutMain {
  padding: 20px;
  /* width: 1211px;
  height: 639px; */
  border-radius: 15px;
  background-color: rgba(12, 12, 12, 0.6);
}

.aboutDiv {
  display: flex;
  flex-direction: row;
}

.leftAbout {
  display: flex;
  justify-content: center;
  position: relative;
  width: 562px;
  height: 562px;
}

.aboutHeading {
  position: absolute;
  padding-left: 30px;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}
.rightAbout {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px 0;
}

.aboutContent {
  width: 615px;
  height: 128px;
  flex-shrink: 0;
  letter-spacing: 1.25px;
  font-size: 25px;
  padding: 10px 20px 20px;
  align-items: center;
  margin-bottom: 20px;
}

.aHead {
  font-weight: 600;
}

.aPara {
  font-weight: 400;
}
.aboutContent:hover {
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) -60.08%,
    rgba(255, 255, 255, 0) 66.02%
  );
}

@media (max-width: 909px) {
  .mainA {
    flex-direction: column;
  }
  .imageAbt {
    width: 100%;
  }
  .aboutDiv {
    flex-direction: column;
  }
  .leftAbout {
    width: 100%;
    height: auto;
  }
  .aboutContent {
    width: 100%;
    height: auto;

    letter-spacing: 1px;
    font-size: 20px;
    padding: 10px;
  }
}
