.mainA {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: Outfit;
  line-height: normal;
  font-style: normal;
  padding: 40px;
}

.aboutMain {
  padding: 20px;
  width: 83%;
  height: auto;
  border-radius: 15px;
  background-color: rgba(12, 12, 12, 0.6);
}

.aboutDiv {
  display: flex;
  /* flex-direction: column; */
}

.leftAbout {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px 0;
  width: 50%;
}

.aboutHeading {
  /* position: absolute; */
  padding-left: 30px;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}
.rightAbout {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 30px 0;
  width: 50%;
}
.skill-container {
  display: flex;
  justify-content: center;
  margin: 6%;
}

.skill-circle {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #19376d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-circle img {
  max-width: 80px;
  max-height: 80px;
}

.aboutContent {
  /* width: 60%;
  height: auto; */
  flex-shrink: 0;
  letter-spacing: 1.25px;
  font-size: 20px;
  padding: 10px 30px 20px;
  align-items: center;
  margin-bottom: 20px;
}

.aHead {
  font-weight: 600;
  margin: 0.5rem 0;
}

.aPara {
  font-weight: 200;
}
.aDate {
  font-size: 15px;
  margin-bottom: 0.5rem;
  font-weight: lighter;
  color: aqua;
}
.aboutContent:hover {
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) -60.08%,
    rgba(255, 255, 255, 0) 66.02%
  );
}

@media (max-width: 909px) {
  .mainA {
    flex-direction: column;
  }
  .aboutMain {
    width: 95%;
  }
  .imageAbt {
    width: 100%;
  }
  .aboutDiv {
    flex-direction: column;
  }

  .aboutHeading {
    padding-left: 30px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.05px;
  }
  .leftAbout,
  .rightAbout {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
  .rightAbout {
    padding: 0 auto;
  }
  .aboutContent {
    width: 100%;
    height: auto;

    letter-spacing: 1px;
    font-size: 20px;
    padding: 0px 10px;
  }
}
